.flexColumn{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-top:10px;
  font-weight: bold;
}

.progressINSS{
  background:#e67e22;
  color:white;
  padding: 5px;
  display: inline-table;
  min-width: fit-content;
  transition: width 2s;
  font-weight: bold;
}

.progressIRPF{
  background: #c0392b;
  color:white;
  padding: 5px;
  display: inline-table;
  min-width: fit-content;
  transition: width 2s;
   font-weight: bold;
}

.progressNetSalary{
  background: #16a085;
  color:white;
  padding: 5px;
  display: inline-table;
  min-width: fit-content;
  transition: width 2s;
   font-weight: bold;
}